.content__list {
  padding-inline-start: 40px;
  list-style: none;
}

.content__list-item {
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__list-item::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../images/marker-light.svg");
  position: absolute;
  top: calc(50% - 7.5px - 5px);
  margin-left: -26px;
}

.content__list .content__list-item:last-of-type::before {
  top: calc(50% - 7.5px);
}

.content__list .content__list-item:not(:last-of-type) {
  padding-bottom: 10px;
}

.theme_dark .content__list-item::before {
  background: url("../images/marker-dark.svg");
}
